

body {
    font-family: 'Gloria Hallelujah', cursive;
}

a:hover {
    color: red;
}

.img-projetos {
    transition: transform .2s;
    border-radius: 20px;
}

@media only screen and (min-width: 600px) {
    .img-projetos:hover {
        transform: scale(1.2);
    }
}


